#DataTables_Table_0{
	font-size: 14px;
	border-bottom: #ddd solid 1px !important;
}
#DataTables_Table_0 thead{
	background-color: #2980b9;
	color: white;
}
.dataTables_wrapper .dataTables_filter input{
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	border-bottom: #ddd solid 1px;
}
.dataTables_length select{
	border: none;
	border-bottom: #ddd solid 1px;
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
}
#DataTables_Table_0_previous, #DataTables_Table_0_next{
	border: none !important;
	font-size: 12px !important;
	color: #333333 !important;
	font-weight: 500;
	margin-right: 20px !important;
	padding: 3px 10px 3px 10px !important;
	border-radius: 20px;
	cursor: pointer;
}
#DataTables_Table_0_next{
	margin: 0 !important;
}
#DataTables_Table_0_previous:hover, #DataTables_Table_0_next:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color: #333333 !important;
	background-color: #eee !important;
	border: none !important;
	margin: unset !important;
	margin-right: 20px !important;
}
#DataTables_Table_0_next:hover{
	margin-right: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #333333 !important;
	margin-left: 0 !important;
	margin-right: 20px !important;
	font-size: 12px !important;
	background: none !important;
	border: none !important;
	padding: 5px 10px 5px 10px !important;
	border-radius: 20px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color: #333333 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	background: #2980b9 !important;
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate{
	padding-top: 0 !important;
	padding-right: 20px !important;
	margin-top: 20px !important;
}